$body-bg-color: #f0f2f5;
$color-white: #fff;
$color-select-blue: #168eea;
$nav-bar-bg-color: rgba(0, 0, 0, 0.65);
$color-maroon: #ee4f4f;
$contact_email_bg: #101010;
$contact_address_bg: rgba(0, 0, 0, 0.65);
$contact_phone_bg: rgba(0, 0, 0, 0.65);
$color-error: red;
$input-field: #fafafa;
$btn-bg: #313131;
$color-accent: #ad9a68;
$color-green: #003d3b;
$color-lightgreen: #346462;
$color-lightgreen2: #7fffb6;
$color-lightsubgreen: #ccd8d8;
$color-lightblue: #00CEC7;
$custom-color-blue: #1a47e8;
$color-secondary: rgba(0, 0, 0, 0.6);
$border-color: #c1c2c1;
$color-primary: rgba(0, 0, 0, 0.6);
$color-bg: #f8f8f8;
$color-text: #373636;
$border-bottom: #707070;
$disable-text-color: #e3e3e3;
$golden-border: #ad9a68;
$input-disabled: #f5f5f5;
$color-black: #000000;
$mbsc-ios-accent:#ad9a68;
$color-table-blue: #bedaff;

